<div class="container" ng-controller="myweiboController" ng-style="{'background':'url(assets/img/backgrounds/7.jpg)','position':'relative','width':'100vw','background-position':'center center','background-size':'cover','background-repeat':'repeat-y'}">
    <!--头部-->
    <div class="row clearfix">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- topDIV 开始 -->
                <div class="col-md-2 column">
                    <!-- topLogo部分的icoDIV -->
                    <a href="#/weibo"><img src="assets/ico/fav.png" width="40" height="40" /></a>
                    <strong>校园微博</strong>
                </div>
                <form class="navbar-form navbar-center" role="search">
                    <div class="col-md-4 column">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" ng-model="mysearchinfo" >
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="searchfrid()" data-toggle="modal" data-target="#SearchModal">
                                        搜索
                                    </button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </form>
                <div class="col-md-6 column">
                    <!-- top部分的文字导航 -->
                    <div id="topWordMenu" align="right">
                        <ul class="list-unstyled list-inline">
                            <li><a class="list-group-item" href="#/weibo" ><span class="fa fa-home fa-fw"></span>&nbsp; 首页</a></li>
                            <li><a class="list-group-item" href="#/friend"><i class="fa fa-user"></i>&nbsp; 我的好友</a></li>
                            <li><a class="list-group-item" href="#/setting"><i class="fa fa-cog fa-fw"></i>&nbsp; 设置</a></li>
                        </ul>
                    </div>
                    <!-- top部分的文字导航结束 -->
                </div>
            </div>
        </nav>
    </div>
    <!--main-->
    <div class="row clearfix" ng-style="{'padding-top':'70px'}">

        <div class="col-md-2 column">
            <!--空-->
            <div class="modal fade" id="SearchModal" aria-labelledby="myModalLabel"  aria-hidden="true" role="dialog" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h5 class="modal-title" id="myModalLabel" style="color: black">
                                {{searchresultinfo}}
                            </h5>
                        </div>
                        <div class="modal-body">
                            <img src="{{friendimg}}" alt="" width="48" height="48" />
                            <br>
                            {{friendinfo}}
                        </div>
                        <div class="modal-footer">
                            <!--<a class="btn" data-dismiss="modal">关闭</a>-->
                            <a class="btn" ng-click="addfriend()">加好友</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
        <!--左侧栏-->
        <div class="col-md-5 column" ng-style="{'background':'#FFFFFF'}">
            <div id="mainBanner">
                <!-- 发布微博框 -->
                <div class="row">
                    <div class="col-md-12 column">
                        <div id="mainBannerTop">
                            <!--id=mainBannerTopIssue 发布框-->
                            <div id="mainBannerTopIssue">
                                <div id="mainBannerMenuTopWord2">
                                    <!--<img src="images/avatar.jpg" width="100" height="100" />-->
                                    <!--<a href="#/weibo">发微博</a>-->
                                    <strong>
                                        用户微博页
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--微博标题头-->
                <div class="row">
                    <div class="col-md-12 column">
                        <div id="mainBannerTitle">
                            <!--id="mainBannerTitleWord"-->
                            <div id="mainBannerTitleWord" align="left">
                                <b>微博</b>
                            </div>
                        </div>
                    </div>
                </div>
                <!--微博列表-->
                <div class="row">
                    <div class="col-md-12 column">
                        <div id="mainBannerContent">
                            <!--微博展示-->
                            <div class="stateShow" onmouseover="stateMouseOver(this)" onmouseout="stateMouseOut(this)" ng-repeat="x in myweibolist">
                                <div class="stateShowWord">
                                    <table  width="450" border="0" cellpadding="0" cellspacing="0" class="table table-hover">
                                        <tr>
                                            <td width="70" align="center" valign="top">
                                                <!--<a href="#">-->
                                                    <img src="{{cusimg}}" alt="" width="48" height="48" />
                                                <!--</a>-->
                                                <br>
                                                {{cusname}}
                                            </td>
                                            <td width="380" >
                                                <img src="" align="absmiddle" style="border:none;" />
                                                {{x.weibo.text}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="stateShowtime" align="right"> {{x.weibo.createDate}} </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!--右侧栏-->
        <div class="col-md-2 column" ng-style="{'background':'#F8F8FF','margin-left':'5px','height':'550px'}" >
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="mainRight">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>
                                    <!-- 右侧mainRightPostionFirstLine DIV 开始 -->
                                    <div id="mainRightPostionFirstLine">
                                        <!-- 右侧mainRightPostionFirstLineIcon DIV 开始 -->
                                        <div style="height:58px;">
                                            <div id="mainRightPostionFirstLineIcon">
                                                <img src="{{cusimg}}" alt="" width="48" height="48"  border="0" />
                                                <br>
                                                <span>{{cusname}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!-- 右侧mainRightPostionFirstLineWord2 DIV 开始 -->
                                    <div id="mainRightPostionFirstLineWord2">
                                        <ul class="list-inline">
                                            <li class="list-item">
                                                <!--<a href="#">-->
                                                    <strong>{{guanzhunum}}</strong>
                                                    <br>
                                                    <span>关注</span>
                                                <!--</a>-->
                                            </li>
                                            |
                                            <li>
                                                <!--<a href="#">-->
                                                    <strong>{{fansnum}}</strong>
                                                    <br>
                                                    <span>粉丝</span>
                                                <!--</a>-->
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><!-- 右侧mainRightPostionSeventhLine DIV 开始 -->
                                    <div id="mainRightPostionSeventhLine" >
                                        <div id="mainRightPositionSevenLineContent">
                                            <a  class="btn">给我提意见</a>
                                            <br />
                                            <a  class="btn">不良信息举报中心</a>
                                        </div>
                                    </div>
                                    <!-- 右侧mainRightPostionSeventhLine DIV 结束 -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 column">
            <!--空-->
        </div>

    </div>

</div>